/* All styles for your Card Components live here */
.cardContainer {
  margin-left: 6%;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 90%;
}

.cardBanner {
  margin-right: 0%;
}
img {
  width: 100%;
}
.gray {
  color: gray;
}

.cardContent {
  width: auto;
}
.cardContent p {
  padding-left: 2%;
  margin-top: 1%;
}
